@font-face {
  font-family: "openDyslexic";
  src: url("./OpenDyslexic-Regular.woff");
}

:root {
  /* --background-color: white; */
  --background-color: white;
  --text-color: black;
  --link-color: blue;
  --font-size: "large";
  --secondary-color: rgb(158, 242, 178);
  --tertiary-color: #b5e6ffcb;
  --banner: #036264;
  --font-family: "-apple-system", "BlinkMacSystemFont", "Arial", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell";

  /* digital app result bar variable */
  --moodbar-width: 50%;
  --sleepbar-width: 50%;
  --nutritionbar-width: 50%;
  --socialbar-width: 50%;
  --exercisebar-width: 50%;
}

html[current-theme="light-theme"] {
  --background-color: white;
  --text-color: rgb(21, 20, 28);
  --link-color: blue;
  --secondary-color: rgb(158, 242, 178);
  --tertiary-color: #b5e6ffcb;
  --banner: #036264;
}

html[current-theme="dark-theme"] {
  --background-color: rgb(29, 13, 45);
  --text-color: white;
  --link-color: yellow;
  --secondary-color: rgb(158, 242, 178);
  --tertiary-color: #b5e6ffcb;
  --banner: #3a3a3a;
}

html[current-theme="easy-read-theme"] {
  --background-color: #f9f7d8;
  --text-color: #003275;
  --link-color: #1f9c39;
  --secondary-color: rgb(158, 242, 178);
  --tertiary-color: #b5e6ffcb;
  --banner: #1f9c39;
}

html[animation-state="off"] {
  --landing-animation: "none";
  --soft-animation: "none";
  --pulse-animation: "none";
}

html[animation-state="on"] {
  --landing-animation: fadeIn 3s;
  --soft-animation: fadeIn 0.8s;
  --pulse-animation: pulse 2s infinite;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  background: var(--background-color);
}

body a {
  color: var(--link-color);
}

/* landing page (index.html) */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.landing-text {
  margin: 20px;
}

.landing-img {
  max-height: 50vh;
  width: 80vw;
  animation: var(--landing-animation);
  -webkit-animation: var(--landing-animation);
  -moz-animation: var(--landing-animation);
  -o-animation: var(--landing-animation);
  -ms-animation: var(--landing-animation);
}

.fade-in-content {
  animation: var(--soft-animation);
  -webkit-animation: var(--soft-animation);
  -moz-animation: var(--soft-animation);
  -o-animation: var(--soft-animation);
  -ms-animation: var(--soft-animation);
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/* Nav bar */

nav [aria-current="page"] {
  color: rgb(51, 51, 216);
}

nav li {
  list-style: none;
  color: #000;
  padding: 0rem;
  /* transparent border to keep sizing consistent on hover */
  border-bottom: 4px solid rgba(244, 192, 20, 0);
  border-right: 0.5px solid white;
  border-left: 0.5px solid white;
}

nav li:hover {
  /* background-color: rgb(244, 191, 20); */
  background-color: var(--secondary-color);
  color: #000;
  border-bottom: 3px solid #444;
}

#current_page {
  background-color: white;
  border-bottom: 5px solid black;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(204, 205, 206);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

nav a {
  font-size: xx-large;
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 5px;
}

nav i {
  font-size: x-large;
  padding: 5px;
}

i {
  font-size: medium;
}

mark {
  background-color: var(--secondary-color);
  border-radius: 2px;
  padding: 1px;
}

.key-nav:focus-visible {
  background-color: var(--secondary-color);
}

nav:focus {
  background-color: var(--secondary-color);
}

/* skip to content li is invisible to sighted readers, 
but becomes visible and clickable/enterable with keyboard focus */
#skip_to_content {
  opacity: 0;
  pointer-events: none;
}

#skip_to_content:focus {
  opacity: 1;
  pointer-events: all;
}

/* banner and h1*/
.banner {
  background-color: var(--banner);
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.banner h1 {
  color: white;
  font-size: 100px;
  padding: 0;
  margin: 10px;
}

/* general */

.active {
  background-color: var(--tertiary-color);
  border: var(--text-color) solid 1px;
}

/* about page css */
.about-container,
.inclusive-container,
.tools-container,
.settings-container {
  margin: 0.5rem 4rem 0rem 3rem;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-article {
  margin: 0px 20px 20px 20px;
}

.about-img {
  margin: 1rem;
  height: 250px;
  width: 200px;
  border-radius: 2.5%;
}

.profile-links-container {
  display: flex;
  flex-direction: column;
  justify-items: right;
}

.profile-items {
  list-style-type: none;
}

.profile-li:focus-visible {
  background-color: var(--secondary-color);
}

.profile-figure:focus-visible {
  background-color: var(--secondary-color);
}

.profile-links {
  max-width: 40px;
  padding: 3px;
  box-shadow: 2px 4px 10px -2px rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(0, 0, 0, 0);
  animation: var(--pulse-animation);
}

.profile-links:hover {
  background-color: var(--tertiary-color);
  border: solid 1px var(--tertiary-color);
}

/* inclusion page css */
.factor-container {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "digital-inclusion visual-impairment neuro-diversity"
    "physical-health-and-ability language-area community-diversity";
  width: 100%;
  height: 100%;
  justify-content: center;
}

.digital-inclusion {
  grid-area: digital-inclusion;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 10px;

  /* set transparent border when not hovered */
  border: rgba(0, 0, 0, 0);
  border-style: solid;
}

.visual-impairment {
  grid-area: visual-impairment;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 10px;

  border: rgba(0, 0, 0, 0);
  border-style: solid;
}

.neuro-diversity {
  grid-area: neuro-diversity;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 10px;

  border: rgba(0, 0, 0, 0);
  border-style: solid;
}

.physical-health-and-ability {
  grid-area: physical-health-and-ability;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 10px;

  border: rgba(0, 0, 0, 0);
  border-style: solid;
}

.language-area {
  grid-area: language-area;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 10px;

  border: rgba(0, 0, 0, 0);
  border-style: solid;
}

.community-diversity {
  grid-area: community-diversity;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 10px;

  border: rgba(0, 0, 0, 0);
  border-style: solid;
}

#digital-section,
#visual-section,
#neuro-section,
#physical-section,
#language-section,
#community-section {
  padding-top: 10px;
  margin: 20px;
}

.hidden {
  display: none;
}

.onShow {
  display: block;
}

.feedback {
  padding: 2rem;
}

.neuro-diversity:hover,
.neuro-diversity:focus-visible,
.physical-health-and-ability:hover,
.physical-health-and-ability:focus-visible,
.language-area:hover,
.language-area:focus-visible,
.community-diversity:hover,
.community-diversity:focus-visible,
.visual-impairment:hover,
.visual-impairment:focus-visible,
.digital-inclusion:hover,
.digital-inclusion:focus-visible {
  border: var(--text-color);
  background-color: var(--tertiary-color);
  border-style: solid;
}

.neuro-diversity header,
.physical-health-and-ability header,
.language-area header,
.community-diversity header,
.visual-impairment header,
.digital-inclusion header {
  font-size: large;
  padding: 10px;
}

.nav-tut {
  margin: 1rem;
  padding: 0.5rem;
  border: 0.5px var(--text-color) dashed;
}

.nav-tut:hover {
  border: 0.5px var(--text-color) solid;
}

.inclusive-link {
  text-decoration: none;
}

.factor-img {
  height: 22vh;
  max-width: 200px;
}

.user-container {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: black 1px groove;
  display: flex;
  flex-direction: row;
  justify-items: left;
}

.colourB-container {
  display: flex;
  flex-direction: column;
}

.filter-btn {
  width: 100%;
  height: 100%;
  margin: 5px;
}

.filter-btn-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.multi_coloured {
  width: 40vw;
  border-radius: 10%;
  filter: var(--vision-filter);
}

.comparison-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.comparison-figure {
  margin: 10px;
}

.sightLoss {
  border-radius: 50%;
  filter: blur(35px) grayscale();
}

#custom_upload {
  margin: 0.5rem;
}

#dice {
  height: 100px;
}

#text_input {
  width: 70vw;
  height: 10vw;
}

.scroll-top {
  margin-top: 10px;
  margin-left: 90%;
}

button {
  font-size: var(--font-size);
  font-family: var(--font-family);
  margin: 5px;
}

button:hover,
button:focus-visible {
  background-color: var(--secondary-color);
}

/* digi health tools styles */

.health-app {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding-left: 50px;
}

.digi-health-landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.domain-img {
  max-height: 200px;
}

#health_landing_img {
  max-width: 60vw;
}

#mood_bar {
  background: #333;
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
  margin-bottom: 1rem;
}

#mood_bar:after {
  content: "";
  display: block;
  background: var(--tertiary-color);
  width: var(--moodbar-width);
  height: 100%;
  border-radius: 9px;
}

#sleep_bar {
  background: #333;
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
  margin-bottom: 1rem;
}

#sleep_bar:after {
  content: "";
  display: block;
  background: var(--tertiary-color);
  width: var(--sleepbar-width);
  height: 100%;
  border-radius: 9px;
}

#nutrition_bar {
  background: #333;
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
  margin-bottom: 1rem;
}

#nutrition_bar:after {
  content: "";
  display: block;
  background: var(--tertiary-color);
  width: var(--nutritionbar-width);
  height: 100%;
  border-radius: 9px;
}

#social_bar {
  background: #333;
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
  margin-bottom: 1rem;
}

#social_bar:after {
  content: "";
  display: block;
  background: var(--tertiary-color);
  width: var(--socialbar-width);
  height: 100%;
  border-radius: 9px;
}

#exercise_bar {
  background: #333;
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
  margin-bottom: 1rem;
}

#exercise_bar:after {
  content: "";
  display: block;
  background: var(--tertiary-color);
  width: var(--exercisebar-width);
  height: 100%;
  border-radius: 9px;
}

.bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.positive_icon {
  max-width: 7vh;
  margin-left: 10px;
  animation: var(--pulse-animation);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

/* footer styles */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#github-icon {
  font-size: var(--font-size);
}

/* Ipad width or lower*/
@media (max-width: 1000px) {
  .factor-container {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "digital-inclusion visual-impairment neuro-diversity"
      "physical-health-and-ability language-area community-diversity";
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  nav a {
    padding-left: 3px;
    font-size: x-large;
  }

  nav i {
    font-size: large;
  }

  i {
    font-size: small;
  }
}

/* wide screen or landscape mobile or below */
@media (max-width: 700px) {
  .factor-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .neuro-diversity header,
  .physical-health-and-ability header,
  .language-area header,
  .community-diversity header,
  .visual-impairment header,
  .digital-inclusion header {
    padding: 10px;
    width: 250px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-container,
  .inclusive-container,
  .tools-container,
  .settings-container {
    margin: 0.5rem 0.5rem 0rem 0.5rem;
  }

  .about-img {
    margin: 2rem;
    height: 250px;
    width: 200px;
    border-radius: 2.5%;
  }

  .profile-items {
    padding-left: 0;
  }

  nav a {
    padding-left: 3px;
    font-size: 15px;
  }
  i {
    font-size: small;
  }

  nav i {
    font-size: smaller;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(204, 205, 206);
    margin: 0;
    padding: 0;
  }

  .filter-btn-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  /* consider whether this is best accessibility option for mobile? */
  #skip_to_content {
    display: none;
  }

  .banner h1 {
    font-size: 70px;
  }
}

/* normal mobile */
@media (max-width: 480px) {
  nav a {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 14px;
  }
  nav i {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  .banner h1 {
    font-size: 60px;
  }
}

/* narrow mobile */
@media (max-width: 370px) {
  nav a {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
  }
  nav i {
    position: absolute;
    visibility: hidden;
    display: none;
  }
}
