:root {
  --background-color: white;
  --text-color: black;
  --link-color: blue;
  --font-size: "medium";
  --font-family: -apple-system, BlinkMacSystemFont Roboto, Oxygen, Ubuntu,
    Cantarell;
}

html[current-theme="light-theme"] {
  --background-color: white;
  --text-color: rgb(21, 20, 28);
  --link-color: blue;
}

html[current-theme="dark-theme"] {
  --background-color: rgb(29, 13, 45);
  --text-color: white;
  --link-color: yellow;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  background: var(--background-color);
}

body a {
  color: var(--link-color);
}

/* landing page (index.html) */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.landing-text {
  margin: 20px;
}

.landing-img {
  max-height: 350px;
}

/* Nav bar */

nav [aria-current="page"] {
  color: rgb(51, 51, 216);
}

nav li {
  list-style: none;
  color: #000;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  /* transparent border to keep sizing consistent on hover */
  border-bottom: 4px solid rgba(244, 192, 20, 0);
  border-right: 0.5px solid white;
  border-left: 0.5px solid white;
}

nav li:hover {
  background-color: rgb(244, 191, 20);
  color: #000;
  border-bottom: 3px solid #444;
}

#current-page {
  border-bottom: 5px solid #444;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 1rem; */
  background-color: rgb(204, 205, 206);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

nav a {
  font-size: x-large;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

i {
  font-size: medium;
}

/* consider polyfill for focus-visible, but keyboard focus still works on safari */
.key-nav:focus-visible {
  background-color: rgb(244, 191, 20);
}

nav:focus {
  background-color: rgb(244, 191, 20);
}

/* skip to content li is invisible to sighted readers, 
but becomes visible and clickable/enterable with keyboard focus */
#skip_to_content {
  opacity: 0;
  pointer-events: none;
}

#skip_to_content:focus {
  opacity: 1;
  pointer-events: all;
}

.about-container,
.inclusive-container,
.tools-container,
.settings-container {
  margin: 0 2rem 0 2rem;
}

/* about page css */
.about-container {
  display: flex;
  flex-direction: row;
}

.about-article {
  margin: 20px;
}

.about-img {
  margin: 2rem;
  height: 300px;
  border-radius: 2.5%;
}

/* inclusion page css */
.factor-container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "digital-inclusion visual-impairment neurodiversity"
    "physical-health-and-ability language cultural-diversity";
  width: 100%;
  height: 100%;
  justify-content: center;
}

.digital-inclusion {
  grid-area: digital-inclusion;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 20px;
}

.visual-impairment {
  grid-area: visual-impairment;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 20px;
}

.neurodiversity {
  grid-area: neurodiversity;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 20px;
}

.physical-health-and-ability {
  grid-area: physical-health-and-ability;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 20px;
}

.language {
  grid-area: language;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 20px;
}

.language-section {
  margin: 20px;
}

.cultural-diversity {
  grid-area: cultural-diversity;
  display: flex;
  flex-direction: row;
  align-content: center;
  max-height: 1fr;
  padding: 20px;
}

.neurodiversity:hover,
.physical-health-and-ability:hover,
.language:hover,
.cultural-diversity:hover,
.visual-impairment:hover,
.digital-inclusion:hover {
  border: var(--text-color);
  border-style: solid;
}

.neurodiversity header,
.physical-health-and-ability header,
.language header,
.cultural-diversity header,
.visual-impairment header,
.digital-inclusion header {
  padding: 10px;
}

.factor-img {
  max-width: 200px;
}

button {
  font-size: var(--font-size);
  font-family: var(--font-family);
  margin: 5px;
}

/* footer styles */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#github-icon {
  font-size: var(--font-size);
}

@media (max-width: 700px) {
  .factor-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    margin: 2rem;
    width: 250px;
    border-radius: 2.5%;
  }

  nav a {
    font-size: medium;
    margin-right: 10px;
  }
  i {
    font-size: small;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(204, 205, 206);
    margin: 0;
    padding: 0;
  }

  .landing-img {
    max-height: 200px;
  }

  /* ONLY for now, find better solution later */
  #skip_to_content {
    display: none;
  }
}
